{
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "import/order": ["error"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "globals": {
    "__DEVELOPMENT__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.development.js"
      }
    }
  }
}
