doctype html
html
  head
    meta(charset="utf-8")
    title TasSort
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    // link(rel="stylesheet", href="/styles/options.css")
  body(ng-app="app", ng-csp="")
    .container(ng-controller="OptionsController as options")
      form.form.form-horizontal(name="optionsForm")
        .form-group
          label 1ウィンドウあたりのタブ数の目安: 
          input.form-control(type="number", ng-model="options.tabsPerWindow", min="1", max="100")
        .form-group
          label.col-sm-8 パターン(正規表現)
          label.col-sm-4 ウィンドウを常に分離
        .form-group(ng-repeat="rule in options.rules")
          .col-sm-6
            input.form-control(type="text", ng-model="rule.regexp", require="")
          .col-sm-3
            input.form-control(type="checkbox", ng-model="rule.isolate")
          .col-sm-3.btn-group
            .btn.btn-default(ng-click="options.upRule(rule)") ↑
            .btn.btn-default(ng-click="options.downRule(rule)") ↓
            .btn.btn-default(ng-click="options.removeRule(rule)") 削除
        .form-group
          .btn.btn-default(ng-click="options.addRules()") ルールを追加
        .form-group
          button.col-sm-3.btn.btn-primary(ng-click="options.save()") 設定を保存
          p.col-sm-9.bg-success(ng-if="options.saved") 保存されました

    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/options/build/build.js")
