
body
  margin: auto
  padding: 1em
  font-size: 12pt
  line-height: 1.75em
  
  background-color: #111
  color: white

li
  list-style-type: none

#tabs-per-window
  width: 50px
  border: solid 1px #888
  background-color: #333
  color: white

#status
  width: 200px
  height: 1.3em
  
  vertical-align: middle

#status.show
  font-weight: bold

