doctype html
html
  head
    meta(charset="utf-8")
    title 新しいタブ
    style.
      html {
        background-color: #333;
        color: #888;
        width: 100%;
        height: 100%;
      }
      #root {
        margin: auto;
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
      }
  body
    div#root New tab

