body
  margin: auto
  padding: 1em
  font-size: 12pt
  line-height: 1.75em

  background-color: #111
  color: white

label
  vertical-align: top

li
  list-style-type: none

#tabs-per-window
  width: 16em
  border: solid 1px #888
  background-color: #333
  color: white

#status
  width: 24em
  height: 1.3em

  vertical-align: middle

  &.show
    font-weight: bold

#register-list
  min-width: 32em
  min-height: 12em
